.side-bar
  .side-bar__top
    .top-items
      .top-items__name
        = current_user.name
      .top-items__icons
        =link_to "#", class: "top-items__icon" do
          = icon('fas', 'edit')
          %span<>
        =link_to edit_user_path(current_user), class: "top-items__icon" do
          = icon('fas', 'cog')
          
  
  = render "side-group"
  = render "side-group"
  